.campanha{

}

.camp{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 70px;
}

.camp input,
.camp textarea {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
    margin-top: 20px;
}

button{
    width: 210px;
}